<%- partial('_partial/head') %>

<body>
  <div id="container">
    <%- partial('_partial/header', null, { cache: true }) %>
    <div id="main">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <script id="dsq-count-scr" src="https://<%- theme.disqus.shortname %>.disqus.com/count.js" async></script>
</body>

</html>