<%- partial('_partial/head') %>

<body>
  <div id="container">
    <%- partial('_partial/header', null, { cache: true }) %>
    <div id="main">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <% if (theme.canvasbg.enabled) { %>
  <canvas id="c_n6" width="314" height="731" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
  <script z-index="-1" color="<%- theme.canvasbg.color %>" opacity="<%- theme.canvasbg.opacity %>" count="<%- theme.canvasbg.count %>" src="https://cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
  <% } %>
  <script src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
  <script>
    Waline({
      el: '#waline',
      placeholder: '<%- theme.waline.placeholder %>',
      avatar: '<%- theme.waline.avatar || "retro" %>',
      visitor: true,
      requiredFields: ['nick', 'mail'],
      serverURL: '<%- theme.waline.serverURL %>',
      emoji: [
        '<%- theme.waline.emoji.bilibili ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili" : "" %>',
        '<%- theme.waline.emoji.qq ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq" : "" %>',
        '<%- theme.waline.emoji.alus ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus" : "" %>',
        '<%- theme.waline.emoji.twitter ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-emoji" : "" %>',
        '<%- theme.waline.emoji.weibo ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo" : "" %>',
        '<%- theme.waline.emoji.tieba ? "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba" : "" %>',
      ]
    });
  </script>
</body>

</html>