<%- partial('_partial/head') %>

<body>
  <div id="container">
    <%- partial('_partial/header', null, { cache: true }) %>
    <div id="main">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%- theme.valine.appId %>',
      appKey: '<%- theme.valine.appKey %>',
      placeholder: '<%- theme.valine.placeholder %>',
      avatar: '<%- theme.valine.avatar || "retro" %>',
      visitor: true,
      requiredFields: ['nick', 'mail']
    })
  </script>
</body>

</html>