<article class="post">
  <%- partial('post/date', { post: post }) %>
  <h1><%- post.title %></h1>
  <%- partial('post/info', { post: post }) %>
  <%- partial('post/tag', { post: post }) %>
  <% if (post.cover) { %>
  <img src="<%- post.cover %>" alt="<%- post.title %>">
  <% } %>
  <article>
    <%- post.content %>
  </article>
  <% if (theme.declaration) { %>
  <hr>
  <blockquote>
    <p>
      本文由 <a href=""><%- post.author || config.author || "本站博主" %></a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0</a> 国际许可协议。
    </p>
    <p>
      本站文章除注明转载/出处外，均为本站原创或翻译，转载请务必署名。
    </p>
  </blockquote>
  <% } %>
</article>

<% if (!index && theme.waline.enabled) { %>
<%- partial('waline') %>
<% } %>